<table id="stars-table" class="display" style="width:50%">
        <thead>
            <tr>
                <th>Stars</th>
                <th>Number of Projects</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1 - 200</td>
                <td><%= @_1_to_200 %></td>
            </tr>
            <tr>
                <td>201 - 400</td>
                <td><%= @_201_to_400 %></td>
            </tr>
            <tr>
                <td>401 - 600</td>
                <td><%= @_401_to_600 %></td>
            </tr>
              <tr>
                <td>601 - 800</td>
                <td><%= @_601_to_800 %></td>
              </tr>
            <tr>
                <td>801 - 1000</td>
                <td><%= @_801_to_1000 %></td>
            </tr>
            <tr>
                <td>1001 - 1200</td>
                <td><%= @_1001_to_1200 %></td>
            </tr>
            <tr>
                <td>1201 - 1400</td>
                <td><%= @_1201_to_1400 %></td>
            </tr>
            <tr>
                <td>1401 - 1600</td>
                <td><%= @_1401_to_1600 %></td>
            </tr>
            <tr>
                <td>1601 - 1800</td>
                <td><%= @_1601_to_1800 %></td>
            </tr>
            <tr>
                <td>1801 - 2000</td>
                <td><%= @_1801_to_2000 %></td>
            </tr>
        </tbody>
    </table>
